@page
@model Nadina_Proiect3.Pages.ProduseExt.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Exterior</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Exterior.ExteriorId" />
            <div class="form-group">
                <label asp-for="Exterior.Denumire" class="control-label"></label>
                <input asp-for="Exterior.Denumire" class="form-control" />
                <span asp-validation-for="Exterior.Denumire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exterior.Cod" class="control-label"></label>
                <input asp-for="Exterior.Cod" class="form-control" />
                <span asp-validation-for="Exterior.Cod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exterior.Pret" class="control-label"></label>
                <input asp-for="Exterior.Pret" class="form-control" />
                <span asp-validation-for="Exterior.Pret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exterior.Material" class="control-label"></label>
                <input asp-for="Exterior.Material" class="form-control" />
                <span asp-validation-for="Exterior.Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exterior.Culoare" class="control-label"></label>
                <input asp-for="Exterior.Culoare" class="form-control" />
                <span asp-validation-for="Exterior.Culoare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
