@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    body {background-color:#E9967A;}
 </style>

<div class="text-center">
    <h1 class="display-4">Decorations X</h1>
    <p>New Generation Decorations</p>
</div>
</div>
    
